#{extends 'main.html' /}
#{set title:'www.java.no' /}

	#{list items:events, as:'event'}		
	<div class="lineItem grid_4">
		<div class="image">
			<img src="/public/images/${event?.region}.png"/>
			<div class="text">${event?.region}</div>
		</div>
	</div>
	<div class="lineItemText grid_8">
		<h2>${event?.title}</h2>
		<p>${event?.description}  
			<img src="/public/images/map.png" alt="kart" class="map"/>
			<a class="awesome" id="awesome" href="javascript:" onclick="$('#registrering').modal({
				overlayClose:true,
				minHeight:400,
				minWidth: 330,
				maxHeight:400,
				maxWidth: 330
				});$('#eventId').val(${event?.id});$('#eventTitle').html('${event?.region} : ${event?.title}');">Meld meg på >></a> 
	</div>
	<div class="clear"></div>
	#{/list}

	<input type="hidden" id="eventId" value=""/>