#{extends 'main.html' /}
#{set title:'www.java.no - tidligere møter' /}

<div class="lineItemText grid_4">
<h2>Oslo</h2>	
#{list items:osloEvents, as:'event'}		
	${event?.date?.format('dd.MM.yyyy')} - ${event?.title}<br>
#{/list}
</div>	
<div class="lineItemText grid_4">
<h2>Trondheim</h2>	
#{list items:osloEvents, as:'event'}		
	${event?.date?.format('dd.MM.yyyy')} - ${event?.title}<br>
#{/list}
</div>
<div class="lineItemText grid_4">
<h2>Stavanger</h2>	
#{list items:osloEvents, as:'event'}		
	${event?.date?.format('dd.MM.yyyy')} - ${event?.title}<br>
#{/list}
</div>
<div class="clear"></div>
<div class="lineItemText grid_4">
<h2>Innlandet</h2>	
#{list items:osloEvents, as:'event'}		
	${event?.date?.format('dd.MM.yyyy')} - ${event?.title}<br>
#{/list}
</div>
<div class="lineItemText grid_4">
<h2>Bergen</h2>	
#{list items:osloEvents, as:'event'}		
	${event?.date?.format('dd.MM.yyyy')} - ${event?.title}<br>
#{/list}
</div>
<div class="lineItemText grid_4">
<h2>Sørlandet</h2>	
#{list items:osloEvents, as:'event'}		
	${event?.date?.format('dd.MM.yyyy')} - ${event?.title}<br>
#{/list}
</div>
